{{'layout.css' | asset_url | stylesheet_tag }}
<script src="{{ 'layout.js' | asset_url }}" defer></script>

<div class="py-12 md:py-32">
    <div class="max-w-md mx-auto text-center p-10 border border-dashed rounded border-gray-500">
        <h1 class="mb-4">404!</h1>
        <p>Sorry we could not find the page you requested!</p>
    </div>
</div>
