{{'layout.css' | asset_url | stylesheet_tag }}
<script src="{{ 'layout.js' | asset_url }}" defer></script>

<div class="py-20 bg-gray-100 border-b">
    <div class="container">
        <h1 class="page-heading h1 text-2xl md:text-3xl lg:text-4xl">Blog template</h1>
    </div>
</div>
